.notes {
    margin-left: 20%;
    margin-right: 22%;
    width: 58%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 eşit sütun oluşturur */
    gap: 1rem; /* Kartlar arasındaki boşluk */
}

.card {
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pink {
    background-color: #FFB3BA;
}

.yellow {
    background-color: #FFFACD;
}

.purple {
    background-color: #CBAACB;
}

.inner-text {
    margin-left: 1rem;
}

.no-notes {
    color: #FFB830;
}
