@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body{
  background-color:#3DB2FF;
}